body{ 
    background-color:#1d1e22;
    color: #fff; /* Ustawia kolor tekstu na biały */
}

.category-card {
    margin-bottom: 20px;
    border: 1px solid #1d1e22;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #000; /* Ustawia kolor tła na czarny */
}

.category-card .card-body {
    padding: 20px;
}

.category-card .card-title {
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.category-card .btn {
    font-size: 1rem;
    padding: 10px 20px;
}

.input-group {
    position: relative;
}

.input-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d; /* Kolor ikony */
    font-size: 24px; /* Rozmiar ikony */
    pointer-events: none; /* Zapobiega interakcji z ikoną */
}

.search-input {
    padding-right: 40px; /* Dodaj odstęp na ikonę */
}
/* Fonts*/
.font{ 
    font-family:'Roboto', sans-serif;
    font-weight: 700;
}

  .anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400; /* Regular 400 */
    font-style: normal;
    font-size:48px;
}
.ibm-plex-mono-thin {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
    font-style: normal;
  }
  .ibm-plex-mono-bold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
  }